node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
ecosystem.config.cjs

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
kapato.tar.gz
data/kapato.db
data/kapato.db-shm
data/kapato.db-wal
